// main: ./main.less

////////////////////////////////////////
// GENERAL SETUP
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
  @media only screen and (max-width: @bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: @font-primary;
  font-weight: 400;
  color: @color-grey-dark-2;
  background-color: @color-white;
  text-rendering: optimizeLegibility;
}
