// main: ./main.less

.section {
  padding: 6rem 0;
}

.section-about {
  .section;
}

.section-gallery {
  .section;
  background-color: @color-grey-light-1;
}

.section-testimonials {
  .section;
}

.section-reservation {
  .section;
  background-color: @color-grey-light-1;
}

.section-map {
  .section;
}

.footer {
  .section;
  background-color: @color-grey-dark-3;
  color: @color-white;
}

.footer__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

////////////////////////////////////////
// HEADER
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(img/restaurant-2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  display: block;
  height: 4.8rem;
}

////////////////////////////////////////
// NAVIGATION
.navigation {
  position: fixed;
  width: 100%;
  padding: 1rem 0;
  z-index: 999;
  transition: background-color ease 0.3s;
}

.navigation-fixed {
  background-color: rgba(0, 0, 0, 0.5);
}

.navigation-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1.6rem;
  width: 100%;
  max-width: @content-width;
  margin: 0 auto;
  align-items: center;
}

.navigation__nav {
  padding-bottom: 1.6rem;
  padding-top: 1.6rem;
}

.navigation__list {
  list-style: none;
}

.navigation__item {
  display: inline-block;
  font-size: @default-font-size;
}

.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  color: @color-grey-dark-2;
  display: block;
  background-color: @color-white;
  border: 0.2rem solid @color-white;
  padding: 0.8rem 1.6rem;
  transition: all ease 0.2s;
}

.navigation__link:hover,
.navigation__link:active {
  text-decoration: none;
  background-color: transparent;
  border: 0.2rem solid @color-white;
  color: @color-white;
}
